
.choose-list .hero .item-inner {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

#pole.hero1 .hero {
    background-image: url("../../img/heroes/kapelka.png");
}

#pole.hero2 .hero {
    background-image: url("../../img/heroes/ogonek.png");
}

#pole.hero3 .hero {
    background-image: url("../../img/heroes/veterok.png");
}

#pole.hero4 .hero {
    background-image: url("../../img/heroes/ross.png");
}



.choose-list .kapelka .item-inner {
    background-image: url("../../../assests/img/heroes/kapelka.png") !important;
}

.choose-list .ogonek .item-inner {
    background-image: url("../../../assests/img/heroes/ogonek.png") !important;
}

.choose-list .veterok .item-inner {
    background-image: url("../../../assests/img/heroes/veterok.png") !important;
}

.choose-list .ross .item-inner {
    background-image: url("../../../assests/img/heroes/ross.png") !important;
}