html,
body {
    overflow: hidden;
}

.hide {
    display: none;
    height: 0;
}

.window {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.window:nth-child(1) {
    top: 0;
}

.window:nth-child(2) {
    top: 100%;
}

.window:nth-child(3) {
    top: 200%;
}

.window:nth-child(4) {
    top: 300%;
}

.window:nth-child(5) {
    top: 400%;
}

.window:nth-child(6) {
    top: 500%;
}

.window:nth-child(7) {
    top: 600%;
}

.window:nth-child(8) {
    top: 700%;
}

.window.window-start {
    background: url("../assests/img/index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.window.window-theme {

}

.window.window-hero {
}

.window.window-settings {
}

.window.window-video {
}

.window.window-game {
}


.btn-start,
.btn-next {
    position: relative;
    margin: 0 auto;
    display: block;
    width: max-content;
    top: 80%;
    font-size: 49px;
}

.window .btn {
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    top: 50%;
    margin: 0 auto;
    background: #004972;
    color: #c8cccb;
    border-color: #004972;
}

.window-start .btn {
    top: 75%;
}

.owl-item.active:nth-child(2){
    border: 1px solid black;
}


.row {
    max-width: 100%;
}

.home-demo ,
.home-demo .row,
.home-demo .row  .columns
{
    height: 100%;
}

.choose-list {
    display: block;

    height: 25%;
    width: 100%;

}

.choose-list .item {
    display: inline-block;
    float: none;
    background: none;
}

.choose-list .item .item-inner {
    background: #ff3f4d;
    border-width: 3px;
    border-style: solid;
    border-color: #ff3f4d;
}

.choose-list .item .item-inner:hover,
.choose-list .item .item-inner.active {
    border-width: 3px;
    border-color: #1b6d85;
    border-style: solid;
}

.home-demo h2 {
    padding: 0;
    color: #808080;
}
.item-inner h2 {
    padding: 5rem 0;
}

/*Блок с кнопками правил*/
.explain-block {
    position: relative;
    bottom: 84px;
}

.btn-explain-factor,
.btn-explain-rules {
    width: auto !important;
    position: relative !important;
    left: 0 !important;
}