.containerPole {
  background: #66a7a4;
}

#pole .row {
  margin: 0;
}

#pole .row .col-xs-1 {
  padding: 0;
  padding: 2px;
}

.containerPole {
  margin-top: 10px;
  padding: 3px;
}

.pole {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 5px;
}

.start {
  /* background-image: url(assests/img/hero.png); */
  background-image: url(../assests/img/start.png);
}

.home {
  /* background-image: url(assests/img/hero.png); */
  background-image: url(../assests/img/home.png);
}

.hero {
  background-image: url(../assests/img/hero.png);
  background-color: transparent;
  position: absolute;
}

.stop1 {
  background-image: url(../assests/img/obstruction.png);
}

.stop2 {
  background-image: url(../assests/img/obstruction2.png);
}

.stop3 {
  background-image: url(../assests/img/obstruction3.png);
}

.finish {
  background-image: url(../assests/img/ledy.png);
}
