.containerPole {
  background: #63086b;
}

#pole .row {
  margin: 0;
}

#pole .row .col-xs-1 {
  padding: 0;
  padding: 2px;
}

.containerPole {
  margin-top: 10px;
  padding: 3px;
}

.pole {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 5px;
}

.start {
  /* background-image: url(assests/img/hero.png); */
  background-image: url(../assests/img/hero3.png);
}

.stop1 {
  background-image: url(../assests/img/obstruction5.png);
}

.stop2 {
  background-image: url(../assests/img/obstruction4.png);
}

.stop3 {
  background-image: url(../assests/img/obstruction6.png);
}

.finish {
  background-image: url(../assests/img/ledy2.png);
}
