.bg2 {
  background: #333;
}

.container {
  padding: 0;

  width: 97%;
}

.factor {
  font-size: 30px;
  border: 30px solid #ffffff;
}
.factor.active {
  border: 30px solid #269abc;
}

video {
  width: 100%;
  height: 100%;
}

#algorithm {
  background: #333333;
}