
/*.window-game .putin {*/
/*    background-image: url("politseyskiy.png");*/
/*}*/

/*.kindergarten .choose-list .kapelka .item-inner {*/
/*    background-image: url("kapelka.png");*/
/*}*/

/*.kindergarten .choose-list .ogonek .item-inner {*/
/*    background-image: url("ogonek.png");*/
/*}*/

/*.kindergarten .choose-list .veterok .item-inner {*/
/*    background-image: url("veterok.png");*/
/*}*/

/*.kindergarten .choose-list .ross .item-inner {*/
/*    background-image: url("ross.png");*/
/*}*/

.window-game .autumn .finish {
    background-image: url("yezik.JPG");
}

.autumn .pole.tucha {
    background-image: url("tucha.JPG");
}
.autumn .pole.listya {
    background-image: url("listya.JPG");
}
.autumn .pole.list {
    background-image: url("list.JPG");
}
.autumn .pole.zont {
    background-image: url("zont.JPG");
}
/*.autumn .pole.yezik {*/
/*    background-image: url("yezik.JPG");*/
/*}*/
.autumn .pole.derevo {
    background-image: url("derevo.JPG");
}
.autumn .pole.dereviya {
    background-image: url("dereviya.JPG");
}
